<nav class='head-nav' >

     <ul class="container-list">
        <li>
            <img src="assets/Images/piggy-logo.png" class="img-logo">
        </li>
    
         <ul>
           <li> <a routerLink='/about'>About </a> </li>  

           <li> <a routerLink='/stories'>Stories </a> </li>  

           <li> <a routerLink='/faq'>FAQ </a> </li> 

           <li> <a routerLink='/blog'>Blog </a> </li> 

           <li> <a routerLink='/login'>Login </a> </li> 

           <li> <a routerLink='/free-account'>
            <button class="btn-app-header">
             Create a Free Account
         </button>
                </a> 
            </li> 
           

          </ul>
    
         
    
    
    </ul>
</nav>
