 <section style="height: 4rem;"></section>
<section id='main-sec'>
    
    <article>

    <h1 className="intro">
        The Better Way To Save & Invest
    </h1>

    <p> PiggyVest helps you achieve financial freedom by enabling you save responsibly and invest on the go.
     </p>

    <p>Earn 10% - 15.5% interests on savings.</p>

    <p>Earn over 25% return on investments.</p>

    </article>

    <button class="btn-app-header-body">
        Create a Free Account
    </button>

 <section id="downloadable">

        <img src='https://www.piggyvest.com//images/iosbadge-101-image.png' />

        <img src='https://www.piggyvest.com//images/google-play-badge.png' />

 </section>

  

 
</section>